/*--- import ---*/
@import 'fontawesome.scss';


/*
* SHINYFORM
* plugin permettant de designer les éléments d'un formulaire
*/


.shinyform {
	
	
	/*--- input file ---*/
	&.shinyform_file {
		position: relative;
		color: #fff;
		width: 100%;
		background: #1a1a1a;
		padding: 0 10px;
		height: 35px;
		line-height: 35px;
		border: 1px solid #000;
		cursor: pointer;
		@include border-radius($radius);
		@include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.5));
		@extend .clearfix;
		
		input[type="file"]{
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}
		
		.shinyform_file_name {
			padding-right: 30px;
			width: 100%;
			display: block;
			white-space: nowrap;
		}
		
		.shinyform_file_button {
			position: absolute;
			top: -3px;
			right: 10px;
			color: #aaaaaa;
			font-size: 1.8em;
			z-index: 1;
		}
	}
	
	
	
	/*--- radio ---*/
	/*--- checkbox ---*/
	&.shinyform_radio,
	&.shinyform_checkbox {
		width: 15px;
		height: 15px;
		position: relative;
		background: #1a1a1a;
		border: 1px solid #000;
		cursor: pointer;
		margin: 0 5px 0 0;
		display: block;
		@include inline-block;
		@include border-radius($radius);
		@include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.5));
		@extend .clearfix;
		
		
		input {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: 0;
			padding: 0;
			z-index: 2;
		}
		
		&.checked:after {
			position: absolute;
			top: 1px;
			left: 1px;
			display: block;
			background: #ff6c00;
			height: 11px;
			width: 11px;
			color: #c54600;
			content:'\f00c';
			font-size: 9px;
			text-align: center;
			line-height: 11px;
			font-family: FontAwesome;
			@include text-shadow(0 1px 0 rgba(#fff,0.3));
			@include box-shadow(inset 0 1px 0 rgba(#fff,0.3));
			@include border-radius(2px);
		}
		
		&.focus { @include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.5), inset 0 0 6px rgba(#d5cb9a,0.2)); }
		
		&.disabled {
			background: lighten(#1a1a1a,5%);
			border-color: lighten(#000,10%);
			@include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.3));
		}
		
	}
	
	&.shinyform_radio,
	&.shinyform_radio.checked:after { 
		@include border-radius(50px); 
	}
	
	
	
	/*--- select ---*/
	&.shinyform_select {
		position: relative;
		color: #fff;
		width: 100%;
		background: #1a1a1a;
		padding: 0 10px;
		height: 35px;
		border: 1px solid #000;
		cursor: pointer;
		@include border-radius($radius); 
		@include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.5));
		@extend .clearfix;
		
		select { 
			position: absolute;
			left: -9999px;
		}
		
		.shinyform_select_name {
			display: block;
			width: 100%;
			white-space: nowrap;
			line-height: 35px;
		}
		
		.shinyform_select_button {
			position: absolute;
			top: 7px;
			right: 10px;
			color: #aaaaaa;
			font-size: 1.1em;
			@include text-shadow(0 1px 0 #000);
			
			&:after {
				display: block;
				content:"\f078";
				font-family: FontAwesome;
			}
		}
		
		.shinyform_select_list {
			position: absolute;
			left: -1px;
			top: 33px;
			right: -1px;
			color: #fff;
			background: #1a1a1a;
			padding: 0;
			margin: 0;
			border: 1px solid #000;
			border-top: none;
			cursor: pointer;
			z-index: 2;
			@include border-radius(0 0 $radius $radius);
			@include box-shadow(0 1px 0 #3f3f3f);
			@extend .clearfix;
			
			li {
				margin: 0;
				border-top: 1px solid #000;
				@include box-shadow(inset 0 1px 0 rgba(#fff,0.1));
				
				a {
					text-decoration: none;
					color: #aaaaaa;
					display: block;
					padding: 5px 10px;
				}
				
				&:hover a { color: #fff; }
			}
		}
		
		&.open {
			@include border-radius($radius $radius 0 0);
			
			.shinyform_select_button:after { content:'\f077'; }
		}
	}
	
}