/*--- imports ---*/

@import 'compass/css3';
@import 'compass/reset';

$radius: 3px;

@import 'shinyform.scss';



/*
* RESET
* ajout de reset non compris dans compass
*/

.clearfix:after {
	content: '';
	clear: both;
	display: table;
}

* {
	@include box-sizing(border-box);
	outline: none;
}



body {
	font: 12px/1.5em "Helvetica Neue", sans-serif;
	color: #aaaaaa;
	background: #2c2c2c;
	@include text-shadow(0 1px 0 #000);
}

form {
	width: 300px;
	margin: 50px auto;
	
	input,
	textarea {
		color: #fff;
		width: 100%;
		background: #1a1a1a;
		padding: 10px;
		border: 1px solid #000;
		@include border-radius($radius);
		@include box-shadow(0 1px 0 #3f3f3f, inset 0 2px 3px rgba(#000,0.5));
		
		&:focus { @include box-shadow(0 1px 0 #3f3f3f, inset 0 0 6px rgba(#d5cb9a,0.2), inset 0 2px 3px rgba(#000,0.5)); }
	}
	
	.formitem {
		margin-bottom: 15px;
		@extend .clearfix;
	}
}